.footer-rights {
  padding-top: 15px;
  background-color: #c0c0c0;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-rights span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}