.navbar {
    /* flex: 0.16; */
    background-color: var(--text-primary);
}

.navbar-full {
    min-width: 200px;
    background-color: var(--text-primary);
}

.navbar, .navbar-full {
    min-height: 100vh;
}

.navbar, .navbar-full a {
    color: #d9d9d9 !important;
}
  
.navbar, .navbar-full a:hover{
    color: #ffffff !important;
}

.avatar-logo:hover {
    cursor: pointer;
}

.nav-btn-top {
    position: fixed !important;
    bottom: 0;
    margin-bottom: 15px;
}

.ant-btn-primary {
    background-color: #243845 !important;
    border-color: transparent !important;
}