.navbar {
    /* flex: 0.16; */
    background-color: var(--text-primary);
}

.navbar-full {
    min-width: 200px;
    background-color: var(--text-primary);
}

.navbar, .navbar-full a {
    color: var(--light-green) !important;
}
  
.navbar, .navbar-full a:hover{
    color: var(--light-white) !important;
}