.footer {
    background-color: var(--bgPrimary);
    padding: 20px;
}

.footer a {
    color: var(--light-green) !important;
    font-size: medium;
    border-bottom: 1px solid transparent;
}
  
.footer a:hover{
    color: #FFFFFF !important;
    border-bottom: 1px solid black;
}